<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

		
<mapper namespace="AdminMapper">
		
<!-- <mapper namespace="UserMapper"> -->


<resultMap id="adminSelectMap" 	type="user">
	<result property="userId"		column="user_id"		jdbcType="VARCHAR"/>
	<result property="userName"		column="user_name"		jdbcType="VARCHAR"/>
	<result property="nickname"		column="nickname"		jdbcType="VARCHAR"/>
	<result property="pwd"			column="pwd"			jdbcType="VARCHAR"/>
	<result property="role"			column="role"			jdbcType="CHAR"/>
	<result property="email"		column="email"			jdbcType="VARCHAR"/>
	<result property="phone"		column="phone"			jdbcType="VARCHAR"/>
	<result property="userImg"		column="user_img"		jdbcType="VARCHAR"/>
	<result property="sex"			column="sex"			jdbcType="CHAR"/>
	<result property="birth"		column="birth"			jdbcType="VARCHAR"/>
	<result property="slot"			column="slot"			jdbcType="NUMERIC"/>
	<result property="totalPoint"	column="total_point"	jdbcType="NUMERIC"/>
	<result property="pushAgree"	column="push_agree"		jdbcType="CHAR"/>
	<result property="regDate"		column="reg_date"		jdbcType="TIMESTAMP"/>
	<result property="unRegDate"	column="unreg_date"		jdbcType="TIMESTAMP"/>
</resultMap>


<!-- 관리자 회원목록조회 sql  -->

<select  id="getUserList"  parameterType="search"	resultMap="adminSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  			FROM (	SELECT user_id , user_name , nickname, sex, total_point, reg_date
						FROM users
						<if test="searchCondition != null">
						<where>
						<if test="searchCondition == 0 and searchKeyword !='' ">
						user_id = #{searchKeyword}
						</if>
						<if test="searchCondition == 1 and searchKeyword !='' ">
						user_name = #{searchKeyword}
						</if>
						</where>
						</if>
						ORDER BY user_id ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
</select>


<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_id , user_name , email
						FROM users
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_id = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		user_name = #{searchKeyword}
								</if>
							</where>
						</if> ) countTable						
</select>
	

<!-- ===회원가입===

회원가입 -->
<insert id="addUser" parameterType="user">
	INSERT INTO USERS
	( user_id , user_name , nickname , pwd , role , email , phone , user_img , sex , birth , slot ,  push_agree , reg_date) 
	VALUES(#{userId} , #{userName} , #{nickname} , #{pwd} , 'G' , #{email} , #{phone} , #{userImg,jdbcType=VARCHAR} , #{sex} , #{birth} , 3 , #{pushAgree,jdbcType=CHAR} , systimestamp )
</insert>

</mapper>
