<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderMapper">
	
	<resultMap type="order" id="orderSelectMap">
	
		<result property="orderId" 			column="ORDER_ID" 		/>
  		<result property="buyer.userId" 	column="BUYER_ID" 		jdbcType="VARCHAR"	/>
  		<result property="buyerName"		column="BUYER_NAME"		jdbcType="VARCHAR"	/>
  		<result property="buyerPhone" 		column="BUYER_PHONE"	jdbcType="VARCHAR"/>
  		<result property="buyerEmail"		column="BUYER_EMAIL" 	jdbcType="VARCHAR"/>
  		<result property="orderDate" 		column="ORDER_DATE" 	jdbcType="TIMESTAMP"/>
  		<result property="orderStatus" 		column="ORDER_STATUS"	jdbcType="CHAR"/>
  		<result property="payOpt" 			column="PAY_OPT" 		jdbcType="CHAR"/>
  		<result property="payInstal" 		column="PAY_INSTAL" 	jdbcType="NUMERIC"/>
  		<result property="cardNo" 			column="CARD_NO" 		jdbcType="VARCHAR"/>  		 
  		<result property="totalAmount" 		column="TOTAL_AMOUNT"	jdbcType="NUMERIC"/>
  		<result property="actualAmount"		column="ACTUAL_AMOUNT"	jdbcType="NUMERIC"/>
  		<result property="payPoint"			column="PAY_POINT"      jdbcType="NUMERIC" />
  		<result property="refundDate" 		column="REFUND_DATE" 	jdbcType="TIMESTAMP" />
		<result property="flightId"			column="FLIGHT_ID"      jdbcType="VARCHAR" />
  		<result property="roomId" 			column="ROOM_ID" 		jdbcType="VARCHAR" />
	
  	</resultMap>
  	
  		<insert id="addFlightOrder" parameterType="order">
		INSERT 
		INTO orders(ORDER_ID, BUYER_ID, BUYER_NAME, BUYER_PHONE, BUYER_EMAIL, ORDER_DATE, ORDER_STATUS, PAY_OPT, PAY_INSTAL, CARD_NO, TOTAL_AMOUNT , ACTUAL_AMOUNT , PAY_POINT , FLIGHT_ID)
		VALUES (
					#{orderId:VARCHAR},
					#{buyer.userId:VARCHAR},
					#{buyerName:VARCHAR},
					#{buyerPhone:VARCHAR},
					#{buyerEmail:VARCHAR},
					SYSDATE,
					#{orderStatus:CHAR},
					#{payOpt:CHAR},
					#{payInstal:NUMERIC},
					#{cardNo:VARCHAR},
					#{totalAmount:NUMERIC},
					#{actualAmount:NUMERIC},
					#{payPoint:NUMERIC},
					seq_flight_FLIGHT_ID.CURRVAL
					
					)
	</insert>
	
	<insert id="addRoomOrder" parameterType="order">
		INSERT 
		INTO orders(ORDER_ID, BUYER_ID, BUYER_NAME, BUYER_PHONE, BUYER_EMAIL, ORDER_DATE, ORDER_STATUS, PAY_OPT, PAY_INSTAL, CARD_NO, TOTAL_AMOUNT , ACTUAL_AMOUNT , PAY_POINT , ROOM_ID)
		VALUES (
					#{orderId:VARCHAR},
					#{buyer.userId:VARCHAR},
					#{buyerName:VARCHAR},
					#{buyerPhone:VARCHAR},
					#{buyerEmail:VARCHAR},
					SYSDATE,
					#{orderStatus:CHAR},
					#{payOpt:CHAR},
					#{payInstal:NUMERIC},
					#{cardNo:VARCHAR},
					#{totalAmount:NUMERIC},
					#{actualAmount:NUMERIC},
					#{payPoint:NUMERIC},
					seq_room_ROOM_ID.CURRVAL
					)
	</insert>
	
	
  	
  	<select id="getFlightOrder" parameterType="String" resultMap="orderSelectMap">
  		SELECT 
		f.flight_id , f.airline, f.dep_city , f.arr_city , f.dep_date, f.arr_date, f.lead_time , f.stopover  , o.order_id , o.order_date, o.order_status , o.buyer_id , o.buyer_name , o.buyer_phone , o.buyer_email , o.total_amount , o.pay_point , o.actual_amount , o.pay_opt , o.refund_date , o.card_no 
		FROM orders o , flight f
		WHERE order_id = #{orderId}
					AND f.flight_id(+)=o.flight_id
					AND room_id IS NULL
					
  	</select>
  	
  	<select id="getRoomOrder" parameterType="String" resultMap="orderSelectMap">
  		SELECT 
		r.room_id , r.room_name , r.price, r.check_in , r.check_out , r.room_num , r.adult_num , r.child_num , o.order_id , o.order_date, o.order_status , o.buyer_id , o.buyer_name , o.buyer_phone , o.buyer_email , o.total_amount , o.pay_point , o.actual_amount , o.pay_opt , o.refund_date , o.card_no 
		FROM orders o , room r
		WHERE order_id = #{orderId}
					AND r.room_id(+)=o.room_id
				    AND flight_id IS NOT NULL
					
  	</select>

  	
  	 <update id="updateStatus"	parameterType="order"   >
	   	UPDATE orders
	   	<set>
			ORDER_STATUS = #{orderStatus}
	   	</set>
	   	
	   	WHERE order_id = #{orderId} 
	 </update>

	 
	   <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
		FROM ( SELECT prod_no, buyer_id, payment_option, receiver_name, receiver_phone, DEMAILADDR, dlvy_request,count, dlvy_date, order_data, tran_status_code, tran_no 
					FROM orders
						<if test="searchCondition != null">
							<trim prefix="WHERE" prefixOverrides="AND | OR">
							
								<if test=" searchCondition == 0 and searchKeyword !='' ">
									prod_no = #{searchKeyword}
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
									buyer_id = #{searchKeyword}
								</if>
								<if test=" searchCondition == 2 and searchKeyword !='' ">
									receiver_name = #{searchKeyword}
								</if>
							</trim>
						</if> ) countTable						
	 </select>
  	
</mapper>